/*-----CSS RESET-----*/
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.top {
  background-image: url("../images/");
  background-size: cover;
  background-position: center;
}
/*-----LAYOUT, PADDING & MARGIN-----*/


/*-----TYPOGRAPHY-----*/

/*-----UNIVERSAL STYLES-----*/
